/* import google apis */
/* @import url('https://fonts.googleapis.com/css2?family=poppins:wght@400;500;600&display=swap');   */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    /* background: linear-gradient(45deg, #010758,#490d61); */

    
}
body{
    background: linear-gradient(45deg, #010758,#490d61);

}
.body{
    display: flex;
    align-items: center;
    justify-content: center; 
    background: linear-gradient(45deg, #010758,#490d61);
    
} 

.chatbot{
    background-attachment: fixed;
position: fixed;
    top: 100px;
    width: 420px;
    height: 500px;
    overflow: hidden;
    transform-origin: bottom right;
    background-color: #fff;
    border-radius: 15px;
     box-shadow:0 0 128px 0 rgba(0,0,0,0.1),
    0 32px 64px -48px rgba(173, 72, 72, 0.5);  
    transition: all 0.1s ease;
}

.chatbot header{
    background-color: purple;
    padding:16px 0;
text-align: center;
position: relative;
}
.chatbot header span{
    position:absolute;
    top: 50%;
    right: 20px;
    cursor: pointer;
    transform: translateY(-50%);
    color: #e3f2fd;
    display: none;
}
.chatbot header h2{
    color: #fff;
    font-size: 1.4rem;

}
.chatbot .chatbox{
    height: 400px;
    overflow-y: auto;
    padding: 30px 20px 70px;
}
.chatbot .chat{
    display: flex;
}
.chatbox .incoming span{
    height: 32px;
    width: 32px;
    color: #fff;
    align-self: flex-end;
    background: purple;
    text-align: center;
    line-height: 32px;
    border-radius: 4px;
    margin: 0 10px 7px 0;
    
}
.chatbox .outgoing{
    margin: 20px 0;
    justify-content: flex-end;
}
.chatbox .chat p{
    color: #fff;
    font-size: 0.95rem;
    max-width: 75%;
    padding: 2px 16px;
    border-radius: 10px 10px 0 10px;
    background: #724ae8;
}
.chatbox .chat p.error{
    color: #721c24;
    background: #f8d7da;
}
.chatbox .incoming p{
    color: #000;
    background: #f2f2f2;
    border-radius: 10px 10px 10px 0;
    
}
.chatbot .chat-input{
position: absolute;
bottom: 0;
width: 100%;
display: flex;
gap: 5px;
background: #fff;
padding: 5px 20px;
border-top: 1px solid #ccc;
}
.chat-input textarea{
    height: 55px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 0.95rem;
    resize: none;
    padding: 16px 15px 15px 0;
}
.chat-input span{
    align-self: flex-end;
    height: 55px;
    line-height: 55px;
    color: #724ae8;
    font-size: 1.35rem;
    cursor: pointer;
    visibility: hidden;

}
.chat-input textarea:valid ~ span {
visibility: visible;
}

@media (max-width:490px) {
    .chatbot{
        right: 0;
        bottom: 0;
        top: 150px;
        width: 100%;
        height: auto;
        border-radius: 0;
    }
    .chatbot .chatbox {
        height: 90%;
    }
    .chatbot header span{
        display: block;
    }
}
 /* styling glow */
 